
// nth-framework



// Общее
// =================================================================================================


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}



legend {
  display: block;
  width: 100%;
  padding: 0;
  .h2;               // Стилизуем как заголовок 2-го уровня
}



input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}



select[multiple],
select[size] {
  height: auto;
}



input[type="radio"],
input[type="checkbox"] {
  line-height: normal;
}



// отдельно — блокированные состояния для флажков и радиокнопок

input[type="radio"],
input[type="checkbox"] {
  
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}



input[type="file"] {
  display: block;
}



input[type="range"] {
  display: block;
  width: 100%;
}



input[type="search"] {
  -webkit-appearance: none; // Поиск в iOS
}



input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: @line-height-base;
  line-height: @line-height-base ~"\0";
}



input[type="color"] {
  padding: 0;
  margin: 0;
  border: 0;
}



.form {
  
  // Структура элемента формы:
  
  // EMMET-примеры разметки
  //
  // .form__group>label.form__label[for="fld_01"]{Название}+input.form__control[type="text" id="fld_01" placeholder="Подсказка"]+div.form__help-block{Пояснение}
  // 
  // .form__group.form__group--textarea>label.form__label[for="fld_tarea"]{Название}+textarea.form__control[id="fld_tarea" placeholder="Подсказка" cols="30" rows="5"]+div.form__help-block{Пояснение}
  // 
  // .form__group.form__group--checkbox>label.form__label>input[type="checkbox"]+span.form__checkbox-text{Название}^div.form__help-block{Пояснение}
  // 
  // (.form__group.form__group--radio>label.form__label>input[type="radio" name="fld_radio"]+span.form__radio-text{Название})*2
  // 
  // .form__group.form__group--select>span.form__label{Название}+select.form__control>(option{Пункт$$$})*3^div.form__help-block{Пояснение}
  // 
  // .form__group.form__group--file>label.form__label[for="fld_file"]{Название}+input[type="file" id="fld_file"]+div.form__help-block{Пояснение}
  

  
  // Поле формы
  // ===============================================================================================
  
  &__control {
    display: block;
    width: 100%;
    // height: @input-height-base; // base line-height + padding + border
    padding: @padding-base-vertical @padding-base-horizontal;
    border: 1px solid @input-border-color;
    .border-radius(@input-border-radius);
    
    .font-size(@font-size-base);
    line-height: @line-height-base;
    color: @text-color;
    
    background-color: @input-bg;
    background-image: none; // сброс стилей для Firefox-on-Android
    box-shadow: none;
    outline: 0;
    
    transition: all @transition-time-base linear;

    &::-moz-placeholder           { color: @gray; opacity: 1; }  // Firefox
    &:-ms-input-placeholder       { color: @gray; }              // Internet Explorer 10+
    &::-webkit-input-placeholder  { color: @gray; }              // Safari, Chrome, Opera 15+

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
      cursor: not-allowed;
      color: @input-color--disabled;
      background-color: @input-bg--disabled;
      border: 1px solid @input-border-color--disabled;
      opacity: 1; // iOS fix 
    }
    
    // При получении фокуса
    
    &:focus {
      border-color: @input-border-color--focus;
    }

    // Добавления
    
    textarea& {
      height: auto;
      resize: vertical;
    }
    
    // Модификации
    
    &--short {
      max-width: 80px;
    }
  }
  
  
  
  // Название поля
  // ===============================================================================================
  
  &__label {
    display: inline-block;
    margin-bottom: (@line-height-base / 2);
    font-weight: normal;
  }
  
  
  
  // Пояснение / подсказка
  // ===============================================================================================
  
  &__help-block {}
  
  
  
  // Обёртка каждого из полей
  // ===============================================================================================
  
  &__group {
    margin-bottom: @line-height-base;
    position: relative;
    
    
    // Модификаторы обёртки
    
    &--textarea {}
    
    
    &--range {
      
      .form__control {
        border: 0;
        padding: 0;
      }
    }
    
    
    &--color {}

    
    &--file {}

    
    &--select {}

    
    &--btns {}

    
    &--checkbox {
      
      // Внутри label будем позиционировать флажок (абсолютно)
      
      .form__label {
        position: relative;
        padding-left: 25px;
        margin-bottom: 0;
      }

      input[type="checkbox"] {
        position: absolute;
        top: .2em;
        left: 0;
      }
    }

     
    &--radio {
      
      // Внутри label будем позиционировать радиокнопку (абсолютно)
      
      .form__label {
        position: relative;
        padding-left: 25px;
        margin-bottom: 0;
        cursor: pointer;
      }

      input[type="radio"] {
        position: absolute;
        top: .2em;
        left: 0;
      }
    }
    
    
    // Индивидуальное оформление флажков/радиокнопок
    // ===============================================================================================
      
    &--checkbox-custom,
    &--radio-custom {
      
      
      // Индивидуальный флажок не отмечен
      
      input[type="checkbox"] + .form__checkbox-text {
        
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;          // Предположительный размер
          height: 20px;         // Предположительный размер
          content: 'on';
          background-color: @body-bg; // Фоновый цвет, закрывающий оригинальный флажок
        }
      }
      
      
      // Индивидуальный флажок отмечен (поправки к состоянию «не отмечен»)
      
      input[type="checkbox"]:checked + .form__checkbox-text {
        
        &::before {
          content: 'off';
        }
      }
      
      
      // Индивидуальная радиокнопка не отмечена
      
      input[type="radio"] + .form__radio-text {
        
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;          // Предположительный размер
          height: 20px;         // Предположительный размер
          content: 'off';
          background-color: @body-bg; // Фоновый цвет, закрывающий оригинальную радиокнопку
        }
      }
      
      // Индивидуальная радиокнопка отмечена (поправки к состоянию «не отмечена»)
      
      input[type="radio"]:checked + .form__radio-text {
        
        &::before {
          content: 'on';
        }
      }
    }
    
    
    // Смещения для идущих подряд флажков и радиокнопок (немного «подожмём» их друг к другу)
    // =============================================================================================
    
    &--checkbox + &--checkbox,
    &--radio + &--radio {
      margin-top: (@line-height-base / 2) * -1;
    }

    
    // «При заполнении возникла ошибка» (этот модификатор добавляется к .form__group)
    // =============================================================================================
    
    &--has-error {
      
      .form__label,
      .form__help-block  {
        color: @danger;
      }
      
      .form__control {
        color: @danger;
        border-color: @danger-border;
        background-color: @danger-bg;
      }
    }
    
    
    // «Успешное заполнение» (этот модификатор добавляется к .form__group)
    // =============================================================================================
    
    &--has-success {
      
      .form__label,
      .form__help-block {
        color: @success;
      }
      
      .form__control {
        color: @success;
        border-color: @success-border;
        background-color: @success-bg;
      }
    }
  }
}
